<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <form
          class="form-horizontal"
          id="add-form"
          [formGroup]="addBCategory"
          (ngSubmit)="onAddBCategory()"
        >
          <div class="modal-header">
            <h4 class="modal-title" id="add-modal-label">ADD BLOG CATEGORY</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="onClose()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="inputName">Category Name</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="title"
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-success float-left mb-2 ml-3"
              >
                Add brand
              </button>
            </div>
          </div>
        </form>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
<!-- /.content -->
