<footer class="py-4">
  <div class="container-xxl">
    <div class="row alige-items-center">
      <div class="col-5">
        <div
          class="footer-top-data d-flex gap-30 align-items-center text-white"
        >
          <i class="bi bi-envelope" style="font-size: 40px"></i>
          <h2 class="mb-0 text-white">Sign Up for Newsletter</h2>
        </div>
      </div>
      <div class="col-7">
        <div class="input-group">
          <input
            type="text"
            class="form-control py-1"
            placeholder="Your email address"
            aria-label="Your email address"
            aria-describedby="basic-addon2"
          />
          <span class="input-group-text p-2" id="basic-addon2">
            Subscriber
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="py-3">
  <div class="container-xxl">
    <div class="row">
      <div class="col-4">
        <h4 class="text-white">Contact Us</h4>
        <div>
          <address class="text-white fs-6">
            81 Hồ Nghinh, Sơn Trà, Đà Nẵng <br />
            PinCode: 50000
          </address>
          <a href="tel: +84 935053171" class="mt-4 d-block mb-2 text-white"
            >+84 935053171</a
          >
          <a
            href="mailto: nguyenhoangnhom4@gmail.com"
            class="mt-4 d-block mb-2 text-white"
            >nguyenhoangnhom4@gmail.com</a
          >
          <div class="social_icons d-flex align-items-center gap-30 mt-4">
            <a href="">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1200px-Facebook_Logo_%282019%29.png"
                alt="social icons"
                class="fs-4"
              />
            </a>
            <a href="">
              <img
                class="fs-4"
                src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png"
                alt="social icons"
              />
            </a>
            <a href="">
              <img
                class="fs-4"
                src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
                alt="social icons"
              />
            </a>
            <a href="">
              <img
                class="fs-4"
                src="https://static.vecteezy.com/system/resources/thumbnails/023/986/704/small/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png"
                alt="social icons"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-3">
        <h4 class="text-white">Information</h4>
        <div class="footer-links d-flex flex-column">
          <a class="text-white py-2 mb-1" routerLink="privacy-policy"
            >Privacy Policy</a
          >
          <a class="text-white py-2 mb-1" routerLink="refund-policy"
            >Refund Policy</a
          >
          <a class="text-white py-2 mb-1" routerLink="shipping-policy"
            >Shipping Policy</a
          >
          <a class="text-white py-2 mb-1" routerLink="term-conditions"
            >Terms & Conditions</a
          >
          <a class="text-white py-2 mb-1" routerLink="blogs">Blogs</a>
        </div>
      </div>
      <div class="col-3">
        <h4 class="text-white">Account</h4>
        <div class="footer-links d-flex flex-column">
          <a class="text-white py-2 mb-1" href="">About Us</a>
          <a class="text-white py-2 mb-1" href="">Faq</a>
          <a class="text-white py-2 mb-1" href="">Contact</a>
        </div>
      </div>
      <div class="col-2">
        <h4 class="text-white">Quick Links</h4>
        <div class="footer-links d-flex flex-column">
          <a class="text-white py-2 mb-1" href="">Laptops</a>
          <a class="text-white py-2 mb-1" href="">Headphones</a>
          <a class="text-white py-2 mb-1" href="">Tablet</a>
          <a class="text-white py-2 mb-1" href="">Watch</a>
        </div>
      </div>
    </div>
  </div>
</footer>
<footer class="py-4">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="text-center mb-0 text-white">
          &copy; {{ currentYear }}; Powered by Hoang Nguyen
        </div>
      </div>
    </div>
  </div>
</footer>
