<app-bread-crumb [title]="title"></app-bread-crumb>
<div class="store-wrapper home-wrapper-2 py-5">
  <div class="container-xxl">
    <div class="row">
      <div class="col-3">
        <div class="filter-card mb-3">
          <h3 class="filter-title">Shop By Category</h3>
          <div>
            <ul class="ps-0" *ngFor="let category of category">
              <li>{{ category }}</li>
            </ul>
          </div>
        </div>
        <div class="filter-card mb-3">
          <h3 class="filter-title">Filter By</h3>
          <div>
            <h5 class="sub-title">Price</h5>
            <div class="d-flex justify-content-center">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput"
                  placeholder="From"
                />
                <label for="floatingInput">From</label>
              </div>
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  id="floatingInput1"
                  placeholder="To"
                />
                <label for="floatingInput1">To</label>
              </div>
            </div>
          </div>

          <div class="mt-4 mb-3">
            <h3 class="sub-title">Product Tags</h3>
            <div>
              <div
                class="product-tags d-flex flex-wrap align-items-center gap-10"
              >
                <span
                  class="text-capitalize badge bg-light text-secondary rounded-3 py-2 px-3"
                  *ngFor="let tag of tags"
                >
                  {{ tag }}
                </span>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <h3 class="sub-title">Product Brands</h3>
            <div>
              <div
                class="product-tags d-flex flex-wrap align-items-center gap-10"
              >
                <span
                  class="text-capitalize badge bg-light text-secondary rounded-3 py-2 px-3"
                  *ngFor="let brand of brands"
                >
                  {{ brand }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="filter-sort-grid mb-4">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center gap-10">
              <div class="mb-0 d-block" style="width: 100px">Sort By:</div>
              <select name="" id="" class="form-control form-select">
                <option value="manual">Featured</option>
                <option value="title-ascending">Alphabetically, A-Z</option>
                <option value="title-descending">Alphabetically, Z-A</option>
                <option value="price-ascending">Price, low to high</option>
                <option value="price-descending">Price. high to low</option>
                <option value="created-ascending">Date, old to new</option>
                <option value="created-descending">Date. new to old</option>
              </select>
            </div>
            <div class="d-flex align-items-center gap-10">
              <div class="totalproducts mb-0">21 Products</div>
              <div class="d-flex gap-10 align-items-center grid">
                <img
                  (click)="onGridChanged(3)"
                  src="../../../../../assets/images/gr4.svg"
                  alt="grid"
                  class="d-block img-fluid"
                />
                <img
                  (click)="onGridChanged(4)"
                  src="../../../../../assets/images/gr2.svg"
                  alt="grid"
                  class="d-block img-fluid"
                />
                <img
                  (click)="onGridChanged(6)"
                  src="../../../../../assets/images/gr3.svg"
                  alt="grid"
                  class="d-block img-fluid"
                />

                <img
                  (click)="onGridChanged(12)"
                  src="../../../../../assets/images/gr.svg"
                  alt="grid"
                  class="d-block img-fluid"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="products-list pb-5">
          <app-product-card
            class="row"
            [products]="products"
            [grid]="grid"
          ></app-product-card>
        </div>
      </div>
    </div>
  </div>
</div>
