<app-bread-crumb [title]="title"></app-bread-crumb>
<div class="blog-wrapper home-wrapper-2 py-5" *ngIf="singlePageBlog">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="single-blog-card">
          <a
            routerLink="/console/blogs"
            class="d-flex align-items-center gap-10"
            ><i class="bi bi-arrow-left fs-4"></i> Go back to Blogs</a
          >
          <h3 class="title">{{ singlePageBlog.title }}</h3>
          <img
            src="../../../../../assets/images/blog-1.jpg"
            alt="blog"
            class="img-fluid w-100 my-4"
          />
          <p>
            {{ singlePageBlog.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
