<app-bread-crumb [title]="title"></app-bread-crumb>
<div class="wishelist-wrapper home-wrapper-2 py-5" *ngIf="wishlistItems">
  <div class="container-xxl">
    <div class="row">
      <div class="col-3" *ngFor="let wishlist of wishlistItems.wishlist">
        <div class="wishlist-card position-relative">
          <img
            (click)="removeFromWishList(wishlist._id)"
            src="../../../../../assets/images/cross.svg"
            alt=""
            class="position-absolute cross img-fluid"
          />
          <div
            class="wishlist-card-image bg-white"
            *ngFor="let image of wishlist.images"
          >
            <img
              class="img-fluid d-block mx-auto"
              src="{{ image.url }}"
              alt=""
              width="160"
            />
          </div>
          <div class="py-3 px-3">
            <h5 class="title">
              {{ wishlist.title }}
            </h5>
            <h6 class="price">$ {{ wishlist.price }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
