<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12">
        <h3 class="mb-4">Dashboard</h3>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between align-items-center gap-3"></div>

<section class="content">
  <div class="container-fluid">
    <div class="row" *ngFor="let year of yearly">
      <div class="col-lg-6 col-6 mb-3">
        <div
          class="d-flex justify-content-between align-items-end flex-grow-1 bg-white p-3 rounded-3"
        >
          <div>
            <p>Total Income</p>
            <h4 class="mb-0">${{ year.amount }}</h4>
          </div>
          <div class="d-flex flex-column align-items-end">
            <p class="mb-0">Income in Last Year from Today</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-6">
        <div
          class="d-flex justify-content-between align-items-end flex-grow-1 bg-white p-3 rounded-3"
        >
          <div>
            <p>Total Sales</p>
            <h4 class="mb-0">{{ year.count }}</h4>
          </div>
          <div class="d-flex flex-column align-items-end">
            <p class="mb-0">Sales in Last Year from Today</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-6">
        <h5>Income Statics</h5>
        <div class="p-3 bg-white rounded-3">
          <div class="chart-container">
            <canvas id="chartIncome">{{ chartIncome }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-6">
        <h5>Sales Statics</h5>
        <div class="p-3 bg-white rounded-3">
          <div class="chart-container">
            <canvas id="chartSales">{{ chartSales }}</canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5>Recent Orders</h5>
        <div class="p-3 bg-white rounded-3">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>STT</th>
                <th>Name</th>
                <th>Product Count</th>
                <th>Total Price</th>
                <th>Total Price After Discount</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders; let i = index">
                <td>{{ i }}</td>
                <td>{{ order.user.firstname + order.user.lastname }}</td>
                <td *ngFor="let product of order.orderItems">
                  <a>
                    {{ order.orderItems.length }}
                  </a>
                </td>
                <td>{{ order.totalPrice }}</td>
                <td>{{ order.totalPriceAfterDiscount }}</td>
                <td>
                  {{ order.orderStatus }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
