<header class="header-top-strip py-3">
  <div class="container-xxl">
    <div class="row">
      <div class="col-6">
        <p class="text-white mb-0">Free Shipping Over $100 & Free Returns</p>
      </div>
      <div class="col-6">
        <p class="text-end text-white mb-0">
          Hotline:
          <a class="text-white" href="tel: +84 123231213">+84 123231213</a>
        </p>
      </div>
    </div>
  </div>
</header>
<header class="header-upper py-3">
  <div class="container-xxl">
    <div class="row align-items-center">
      <div class="col-2">
        <h1>
          <a class="text-white" href="">DevHoang</a>
        </h1>
      </div>
      <div class="col-5">
        <div class="input-group">
          <ng-template #tp>Hello </ng-template>
          <input
            type="text"
            [(ngModel)]="selectedItem"
            [ngbTypeahead]="search"
            placeholder="Search product"
            class="form-control"
            [resultTemplate]="tp"
          />
          <span class="input-group-text p-2" id="basic-addon2">
            <i class="bi bi-search fs-6"></i>
          </span>
        </div>
      </div>
      <div class="col-5">
        <div
          class="header-upper-links d-flex align-items-center justify-content-between"
        >
          <div>
            <!-- <a
              routerLink="compare-product"
              class="d-flex align-items-center gap-10 text-white"
            >
              <i class="bi bi-arrow-clockwise" style="font-size: 35px"></i>
              <p class="mb-0">
                Compare <br />
                products
              </p>
            </a> -->
          </div>
          <div>
            <a
              routerLink="wishlist"
              class="d-flex align-items-center gap-10 text-white"
            >
              <i class="bi bi-suit-heart-fill" style="font-size: 35px"></i>
              <p class="mb-0">
                Favourite <br />
                wishlist
              </p>
            </a>
          </div>
          <div>
            <a
              class="d-flex align-items-center gap-10 text-white"
              [routerLink]="productDetail ? 'my-profile' : 'login'"
            >
              <i class="bi bi-person" style="font-size: 35px"></i>
              <div *ngIf="productDetail; else loginad">Welcome</div>
              <ng-template #loginad>
                <p class="mb-0">
                  Login <br />
                  My Account
                </p></ng-template
              >
            </a>
          </div>
          <div>
            <a
              routerLink="cart"
              class="d-flex align-items-center gap-10 text-white"
            >
              <i class="bi bi-cart icons-style" style="font-size: 35px"></i>
              <div class="d-flex flex-column gap-10">
                <span class="badge bg-white text-dark">{{
                  productDetail ? productDetail.length : 0
                }}</span>
                <p class="mb-0">
                  $ {{ productDetail ? calculateTotalPrice() : 0 }}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<header class="header-bottom py-3">
  <div class="container-xxl">
    <div class="row">
      <div class="col-12">
        <div class="menu-bottom d-flex align-items-center gap-30">
          <div>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle bg-transparent border-0 gap-15 d-flex align-items-center"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="bi bi-menu-up"></i>
                <span class="me-5 d-inline-block"> Shop Categories </span>
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item text-white" href="#">Action</a></li>
                <li>
                  <a class="dropdown-item text-white" href="#"
                    >Another action</a
                  >
                </li>
                <li>
                  <a class="dropdown-item text-white" href="#"
                    >Something else here</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="menu-links">
            <div class="d-flex align-items-center gap-15">
              <a routerLink="home">Home</a>
              <a routerLink="product">Our Store</a>
              <a routerLink="my-orders">My Orders</a>
              <a routerLink="blogs">Blogs</a>
              <a routerLink="contact">Contact</a>
            </div>
          </div>
          <button
            *ngIf="this.authService.isLoggedIn"
            (click)="handleLogout()"
            class="border border-0 bg-transparent text-white text-uppercase"
            type="button"
            style="justify-content: end"
          >
            <i class="bi bi-box-arrow-left"></i> Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
