<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-primary">
        <form
          class="form-horizontal"
          id="add-form"
          [formGroup]="addProduct"
          (ngSubmit)="onAddProduct()"
        >
          <div class="modal-header">
            <h4 class="modal-title" id="add-modal-label">Add Product</h4>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              (click)="onClose()"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="inputName">Title</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="title"
              />
            </div>
            <div class="form-group">
              <label for="inputName">Description</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="description"
              />
            </div>
            <div class="form-group">
              <label for="inputName">Price</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="price"
              />
            </div>
            <div class="form-group">
              <label for="inputName">Brand</label>
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="brand"
              >
                <option *ngFor="let brand of brands">{{ brand.title }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputName">Category</label>
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="category"
              >
                <option *ngFor="let category of categories">
                  {{ category.title }}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Color</label>
              <select
                class="select2bs4"
                multiple="multiple"
                style="width: 100%"
                data-placeholder="Select a State"
                formControlName="color"
              >
                <option *ngFor="let item of colors" [value]="item._id">
                  {{ item.title }}
                </option>
              </select>
            </div>

            <div class="form-group">
              <label for="inputName">Quantity</label>
              <input
                type="text"
                id="inputName"
                class="form-control"
                formControlName="quantity"
              />
            </div>

            <div class="form-group">
              <label for="files">Images</label>
              <input
                type="file"
                id="files"
                multiple
                class="form-control"
                (change)="onFileChange($event)"
              />
              <div class="d-flex">
                <div *ngFor="let item of photos.controls; let i = index">
                  <div class="position-relative mt-2">
                    <button
                      (click)="deleteImage(item.value.public_id)"
                      class="btn-close position-absolute"
                      style="top: 2px; right: 2px"
                    ></button>
                    <img
                      formArrayName="images"
                      width="200"
                      height="200"
                      [src]="item.value.url || null"
                      alt="Images {{ i + 1 }}"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <button
                type="submit"
                class="btn btn-success float-left mb-2 ml-3"
              >
                Add Product
              </button>
            </div>
          </div>
        </form>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
</section>
<!-- /.content -->
